body															/*<----Layout---->*/
{
	background-color:black;
	background-image: url('../images/bg.png');
	background-attachment:fixed;
	display: none;
	font-family: Verdana, Geneva , sans-serif;
	font-size: 15px;
}
#greetingParent
{
	border-radius:5px;
	box-shadow:0 0 15px;
	margin:20px 250px 0 35px;
	font-size:14px;
	font-weight:bold;
	color:white;
	
	height: 110px;
	width:400px;
	background: #0c0b24;
	
	position:fixed;
	bottom:-10px;
	left:-350px;
	text-align:right;
}
#greetingMessage
{
	float:right;
}
#wrapper
{
	background: white;
	width: 960px;
	min-height: 500px;
	overflow: auto;
	color: white;
	margin: 0 auto;
	padding:10px;
}
#smedia
{
	margin: 0 auto;
	background: #0c0b24;
	padding-left:;
	padding-right:38px;
}
.smedia{ 
	float:right;
	padding-right:20px;
}

.smedia:link, .smedialinks:visited {
    width: 30px;
}
.smedia:hover, .smedialinks:active {
    background-color: white;
}


#header
{ 
	background: white;
	background-image: url('../images/header-bg.jpg');
	width: 960px;
	height: 180px;
	float: left;
	margin:o;
}
/*Transparent overlay for header-bg.jpg to allow newsletter button 
to function (Doesn't seem to work if the orignal image is in CSS)*/
#transparent			
{
	opacity: 0;
	filter:alpha(opacity=0);/*IE8 and earlier*/
	width: 960px;
	height: 150px;
	float: left;
	margin:0;
}
#navbar 
{
	background: #0c0b24;
	width: 100%;
	float:left;
}
#main
{
	background: black;
	width: 960px;
	min-height:600px;
	overflow: auto;
	color: white;
	text-align:center;
	float:left;
	margin-bottom:10px;
}
#insidemain
{
	background: black;
	width: 70%;
	color: white;
	text-align:left;
	margin: 1% auto;
	float:left; 
}
.mainhome
{
	padding-top: 10px;
	padding-left: 20px;
	line-height: 1.25em;
}
.mainfac
{
	padding-top: 10px;
	padding-left: 45px;
	line-height: 1.25em;
}
#side 
{
	background: black;
	width: 20%;
	min-height:600px;
	float:right;
	margin-bottom: 10px auto;
}
.box
{
	width: 30%;
	background-color: #27a3e1;
	float: left;
	padding: 5px;
	margin-left: 14px;
	margin-bottom: 10px;
	border: 2px solid #000;
	box-shadow: 0 0 5px 5px #999;
	text-align: justify;
}
.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #0c0b24;
	-webkit-box-shadow: 0px 10px 14px -7px #0c0b24;
	box-shadow: 0px 10px 14px -7px #0c0b24;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0c0b24), color-stop(1, #27a3e1));
	background:-moz-linear-gradient(top, #0c0b24 5%, #27a3e1 100%);
	background:-webkit-linear-gradient(top, #0c0b24 5%, #27a3e1 100%);
	background:-o-linear-gradient(top, #0c0b24 5%, #27a3e1 100%);
	background:-ms-linear-gradient(top, #0c0b24 5%, #27a3e1 100%);
	background:linear-gradient(to bottom, #0c0b24 5%, #27a3e1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0c0b24', endColorstr='#27a3e1',GradientType=0);
	background-color:#0c0b24;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	font-weight:bold;
	margin-left:10px;
	margin-bottom:10px;
	text-shadow:0px 1px 0px #3d768a;
	font-size: 10px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #27a3e1), color-stop(1, #0c0b24));
	background:-moz-linear-gradient(top, #27a3e1 5%, #0c0b24 100%);
	background:-webkit-linear-gradient(top, #27a3e1 5%, #0c0b24 100%);
	background:-o-linear-gradient(top, #27a3e1 5%, #0c0b24 100%);
	background:-ms-linear-gradient(top, #27a3e1 5%, #0c0b24 100%);
	background:linear-gradient(to bottom, #27a3e1 5%, #0c0b24 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#27a3e1', endColorstr='#0c0b24',GradientType=0);
	background-color:#27a3e1;
	color: #ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
}

#footer 
{
	background: #0c0b24;
	width: 960px;
	min-height:200px;
	color: #A9A9F5;
	float: left;
	border-top: 2px solid #27a3e1;
}
#footerpadding1
{
	width:300px;
	min-height:180px;
	float: left;
	padding-left: 20px;
}
#footerpadding2
{
	width:300px;
	min-height:180px;
	float: left; 
	padding-left: 20px;

}
#footerpadding3
{
	width:300px;
	min-height:180px;
	float: right;
	background-image: url('../images/ioc1.png');
	background-repeat: no-repeat;
    background-position: right 10px bottom 10px;  
    padding-left: 20px;
}
#footerpadding4
{
	width:960px;
	height:20px;
    background-color:#27a3e1 ;
	float: left;
}
.menu1:link, .menu1:visited {
	margin-left: 180px;
	width:60px;
	font-weight: bold;
	color:white;
	font-size: 10px;
	text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
	float:left;
}
.menu1:hover, .menu1:active {
	color: #0c0b24;
    text-decoration: none;
    text-transform: uppercase;
}
.menu:link, .menu:visited {
	width:60px;
	color:white;
	font-size: 10px;
	text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
	float:left;
	margin-left: 10px;
}
.menu:hover, .menu:active {
	color: #0c0b24;
    text-decoration: none;
    text-transform: uppercase;

}
#top{ 
	float:left;
	width:40px;
	font-size: 10px;
}
#bottom{
	color:yellow;
}
#copyright {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #fff;
	text-align: center;
}															/*<----effects---->*/
li{
    float: left;
}
ul{
    list-style-type: none;
    margin: 0 auto;
	padding-left:10px;
}
 a:link, a:visited {
    display: block;
    width: 110px;
    font-weight: bold;
    color:  white;
    background-color: #0c0b24;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover, a:active {
    background-color: white;
	color: #0c0b24;
}

h2 {
	position: relative;
	width: 40%;
	font-size: 1.5em;
	font-weight: bold;
	padding: 6px 10px 6px 50px;
	margin: 20px 10px 10px -45px;
	color:  #0c0b24;
	background-color: #27a3e1;
	box-shadow: 0px 2px 4px #fff;
}
h3 {
	width: 60%;
	font-size: 1em;
	font-weight: bold;
	padding: 6px 20px 6px 25px;
	margin: 0px 10px 10px -12px;
	color:   #27a3e1;
	background-color:#0c0b24;
	box-shadow: 0px 2px 4px #fff;
}
h4
{
	color: white;
	font-size: 14px;
	text-decoration: underline;
	color: white;
	font-size: 16px;
	text-align: left;
}
Pseudo ::after element
h2:after {
	left: 0px;
	top: 100%;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #27a3e1 #27a3e1 transparent transparent;
}
.shadowbox 
{
	float: left;
	border: 1px solid #063;
	-moz-box-shadow: 0 0 5px 5px #27a3e1;
	-webkit-box-shadow: 0 0 5px 5px #27a3e1;
	box-shadow: 0 0 5px 5px #27a3e1;
	padding:10px;
	margin:10px;
}
.shadowbox2:link, .shadowbox:visited{
	width:255px;
}
.shadowbox2:hover,.shadowbox:active{
	background-color: white;
}
.advert:link, .advert:visited {
	height:475px;
	width:90%;	
	background:transparent url('../images/ad.png') center top no-repeat;
	padding-top: 10px;
}
.advert:hover, .advert:active {
	height:475px;
	width:90%;	
	background-image: url('../images/ad-hover.png');
}
.shadowbox1{
	float: bottom-right;
	border: 1px solid #063;
	-moz-box-shadow: 0 0 5px 5px #27a3e1;
	-webkit-box-shadow: 0 0 5px 5px #27a3e1;
	box-shadow: 0 0 5px 5px #27a3e1;
}
.shadowbox2
{
	margin-left: 15px;
	border: 1px solid #063;
	-moz-box-shadow: 0 0 5px 5px #27a3e1;
	-webkit-box-shadow: 0 0 5px 5px #27a3e1;
	box-shadow: 0 0 5px 5px #0c0b24;
}
																/*<--Newsletter Form-->*/
.form{
	border-radius:2px;
	padding:20px 30px;
	box-shadow:0 0 15px;
	font-size:14px;
	font-weight:bold;
	font-style:white;
	width:350px;
	margin:20px 250px 0 35px;
	float:left;
}
input{
	width:100%;
	height:35px;
	margin-top:5px;
	border:1px solid #999;
	border-radius:3px;
	padding:5px;
}
input[type=button]{
	background-color:#123456;
	border:1px solid white;
	font-Weight:bold;
	font-size:18px;
	color:white;
	width:49%;
}
textarea{
	width:100%;
	height:80px;
	margin-top:5px;
	border-radius:3px;
	padding:5px;
	resize:none;
}
#newsletterdiv{
	background: rgba(5,5,16,0.92);
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	
	display: none;
	position:fixed;
}
#newsletter{
	width:350px;
	margin:0px;
	background-color:#0c0b24;
	position: relative;
	border: 5px solid white;
	left: 50%;
	top: 50%;
	margin-left:-210px;
	margin-top:-255px;
}


/*-----------------shows.html (G.C)---------------------------------------*/

																	/*Glenn 30102014*/
.galleryband{
height:300px;
width:90%;
float: left;
padding-left:40px;
padding-top:20px;
}
.imageleft{
height:160px;
width:30%;
float: left;
margin:5px;
}
.imageright{
height:160px;
width:30%;
float:right;
margin:5px;
}
.textleft{
height:160px;
width:60%;
float: left;
margin:5px;
text-align: justify;
font-size: 17px;
}
.textright{
height:160px;
width:60%;
float: right;
margin:5px;
text-align: justify;
font-size: 17px;
}
.bandleft{
width:30%;
height:50px;
float: left;
margin:5px;
font-size:24px;
font-family:"Ariel black", Gadget, sans-serif;
text-align:center;
}
.bandright{
width:30%;
height:50px;
float: right;
margin:5px;
font-size:24px;
font-family:"Ariel black", Gadget, sans-serif;
text-align:center;
}
.scleft{
width:60%;
height:50px;
background: #262626;
float: left;
margin:5px;
text-align:left;
font-size: 17px;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.scright{
width:60%;
height:50px;
background-color: #262626;
float: right;
margin:5px;
text-align:right;
font-size: 17px;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.soundcloud{
width:100%;
height:160px;
}
															/*Glenn shows 30102014*/

															/*Glenn Blog 27112014*/
.blogcontainer{
	float: right;
	width:90%;
}

.blog{
	font-size: 18px;
	background: linear-gradient(#383838,black);
	padding:10px;
}

.blogimages{
	height:200px;
	width:300px;
	padding:10px;
}

.postdate{
	text-align: right;
}
															/*Glenn Blog 27112014*/

.readmore {
	-moz-box-shadow: 0px 10px 14px -7px black;
	-webkit-box-shadow: 0px 10px 14px -7px black;
	box-shadow: 0px 10px 14px -7px #0c0b24;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, black), color-stop(1, #383838));
	background:-moz-linear-gradient(top, black 5%, #383838 100%);
	background:-webkit-linear-gradient(top, black 5%, #383838 100%);
	background:-o-linear-gradient(top, black 5%, #383838 100%);
	background:-ms-linear-gradient(top, black 5%, #383838 100%);
	background:linear-gradient(to bottom, black 5%, #383838 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='black', endColorstr='#383838',GradientType=0);
	background-color:black;
	display:inline-block;
	cursor:pointer;
	font-weight:bold;
	margin-bottom:10px;
	text-shadow:0px 1px 0px #3d768a;
	font-size: 10px;
}
.readmore:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #383838), color-stop(1, black));
	background:-moz-linear-gradient(top, #383838 5%, black 100%);
	background:-webkit-linear-gradient(top, #383838 5%, black 100%);
	background:-o-linear-gradient(top, #383838 5%, black 100%);
	background:-ms-linear-gradient(top, #383838 5%, black 100%);
	background:linear-gradient(to bottom, #383838 5%, black 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838', endColorstr='black',GradientType=0);
	background-color:#383838;
	color: #ffffff;
}
.readmore:active {
	position:relative;
	top:1px;
}
/*-----------------------gallery.html (DOS)---------------------------------*/
.gallerybox{
	width:690px;
	height:240px;
	border-bottom: 2px dotted #27a3e1;
}
.gbox{
	width:200px;
	height:200px;
	background: #27a3e1;
	box-shadow: 0 0 5px 5px white;
	margin: 20px 20px 0px 10px;
	float: left;

}
 a.hovertext:link, a.hovertext:visited {
    display: block;
    width: inherit;
    font-weight: ;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding:0px!important;
	margin:0px!important;
	background-color: transparent;

}
}
a.hovertext:hover, a.hovertext:active {
	padding:0px!important;
	margin:0px!important;	
	background-color: transparent;
}
  a.hovertext {
    position: relative;
    width: 200px;
    text-decoration: none !important;
    text-align: center;
  }
  a.hovertext:after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em 0px;
    width: 200px;
    background: rgba(0,0,0,0.8);
    text-decoration: none !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
  }
  a.hovertext:hover:after, a.hovertext:focus:after {
    opacity: 1.0;
  }

/*-----------------------(DOS)---------------------------------*/

/*facilities page starts ID*/
.fac1
{
float:left;
width:100%;
min-height:100px;
padding-top:20px;
padding-bottom:20px;
}
.fac2
{
float:right;
width:100%;
min-height:100px;
padding-top:10px;
padding-bottom:20px;
}
.headleft
{
float:left;
text-decoration:underline;
color:#27a3e1;
padding-left:15px;
font-size:125%;
font-Weight:bold;
}
.headright
{
float:right;
text-decoration:underline;
color:#27a3e1;
font-size:125%;
font-Weight:bold;
}
.facimg1
{
float:left;
}
.facimg2
{
float:right;
padding-left:15px;
}
.facdesc1
{
float:right;
width:75%;
text-align:justify;
padding-left:15px;
}
.facdesc1
{
float:left;
width:75%;
text-align:justify;
}
.confec
{
list-style-type: square;
float:left;
padding-left:125px;
padding-bottom:40px;
}
.space
{
padding-top:20px;
padding-left:10px;
padding-right:10px;
}
.space2
{
padding-top:30px;
padding-left:10px;
padding-right:10px;
}
.confec2
{
float:left;
list-style-type: square;
padding-left:100px;
}
.none
{
float:none;
}
/*facilities page ends ID*/
/*Services page starts ID*/
.serhead
{
float:left;
text-decoration:underline;
color:#27a3e1;
clear:left;
padding-left:20px;
font-Weight:bold;
}
.serpar
{
float:left;
clear:left;
padding-left:10px;
text-align:;
}
.seranchor
{
display: inline !important;
font-weight: normal !important;
color:#27a3e1 !important;
background-color: transparent !important;
text-align: justify !important;
text-decoration: underline !important;
text-transform: none !important;
float:left !important;
width:150px !important;
}
.seranchor:hover
{
color:white !important;
}
/*Services page ends ID*/

/*-----------------------Enquiries page (DD)-----------------------*/
textarea:focus {
  color: black;
}

textarea {
  color: #979797;
}
input:focus[type=date]
{
	color: black
}
input[type=date]
{
	color: #979797;
}

#contactDiv
{
	width:80%;	
	height:100%;
	background:;
	padding:0px;
	margin:0 auto;
	margin-top:50px;
	text-align:justify;
	font-size:17px;
}
#contactButton
{
	width:150px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;	
}
#contactForm
{
	background: rgba(5,5,16,0.92);
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: none;
	position:fixed;	
}
#contact
{
	width:350px;
	margin:0px;
	background-color:#0c0b24;
	position: relative;
	border: 5px solid white;
	left: 50%;
	top: 50%;
	margin-left:-210px;
	margin-top:-255px;
}

#bookingsDiv
{
	width:80%;
	height:100%;
	background:;	
	padding:0px;
	margin:0 auto;
	margin-top:50px;
	text-align:justify;
	font-size:17px;
}
#bookingsButton
{
	width:150px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#bookingsForm
{
	background: rgba(5,5,16,0.92);
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	display: none;
	position:fixed;
}
#bookings
{
	width:380px;
	margin:0px;
	background-color:#0c0b24;
	position: relative;
	border: 5px solid white;
	left: 50%;
	top: 50%;
	margin-left:-225px;
	margin-top:-320px;
}
.bookingsButtons
{
	height:15px;
	width:15px;
}
.button
{
	cursor:pointer;
	background:#0c0b24;
	color:white;
	text-align:center;
}
/*-----------------------Enquiries page (DD)-----------------------*/